* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(255, 128, 0), rgb(255, 199, 143));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color: black;
}

.task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-name {
    display: flex;
    justify-content: start;
    cursor: pointer;
}

.task-name-complete {
    display: flex;
    justify-content: center;
    text-decoration: line-through;
    cursor: pointer;
    opacity: 0.5;
}

/* .trash {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
} */

.icons {
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

.task-container {
    width: 35%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 50px;
    margin: 40px auto 150px auto;
    min-height: 450px;
    background: linear-gradient(rgb(255, 176, 97), rgb(255, 148, 41));
}

input[type="text"] {
    background: rgb(255, 199, 143);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border: none;
}

.submit-btn {
    margin-left: 10px;
    border-radius: 10px;
    background: transparent;
    border-style: solid;
    border-color: rgb(255, 199, 143);
    padding: 3px 10px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h1 {
    display: flex;
    justify-content: center;
}